:root{
    /* Primary */
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    /* Neutral */
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
    /* fonts */
    --font-f: "Fraunces", serif;
    --font-m: "Montserrat", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}